# Looker Instance & OAuth Configuration
VITE_LOOKER_BASE_URL=https://looker.bguenther.demo.altostrat.com
VITE_LOOKER_CLIENT_ID=looker-gen-apps
VITE_LOOKER_REDIRECT_URI=https://localhost:3000/callback
